*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.gambar{
    background: url('../img/login.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div.content{
    background: white;
    width: 350px;
    margin: 222px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
    border-style: groove;
    border-width: 5px;
}

div.head{
    background: #800000;
    padding: 10px 22px;
    height: 60px;
}

div.head h3.s_title{
    color: white;
    font-weight: normal;
    line-height: 50px;
    text-align:center;
}

div.form{
    padding: 10px 22px ;
    color: white;
}

div.form div.grup{
    margin: 16px 0;
}

div.form div.grup label,
div.form div.grup input{
    display: block;
    color: #4d4d4d;
}

div.form div.grup label{
    font-size: 13px;
    margin-bottom: 10px;
}
div.form div.showpassword label{
    font-size: 13px;
    color: #4d4d4d;
}

div.form div.grup input[type="text"],
div.form div.grup input[type="password"]{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background: white;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 2px;
    color: black;
    border-radius: 8px;
}

div.form div.grup input[type="submit"]{
    background: #2eb82e;
    padding: 4px 25px;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    border-style: none;
    font-weight: bold;
}

div.form div.grup input[type="submit"]:hover{
    background: gray
}
